# Virtual environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Build artifacts
build/
*.spec

# Allow release standalone executable
!dist/BPLauncher.exe
!BPLauncher.exe

# IDE configuration
.vscode/
.idea/

# Local configuration overrides
hydra_bento_config.json
