altgraph==0.17.5
customtkinter==6.0.0
darkdetect==0.8.0
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pygame==2.6.1
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.6
pystray==0.19.5
pywin32-ctypes==0.2.3
setuptools==84.0.0
six==1.17.0
